<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <center>
      <div>
        <form action="/users/<%= session[:user_id] %>/session/destroy" method="post">
          <button type="submit">Sign Out</button>
        </form>
      </div>

      </center>
  </head>
  <body>
    <form class="" action="/user-options">
      <button type="submit" name="Home"> Home </button>
    </form>
    
    <form class="" action="/requests">
      <button type="submit" name="requests">My Requests</button>
    </form>

    <form class="" action="/new-spaces " method="post">
      <input type="text" name="name" placeholder="name your space">
      <input type="text" name="description" placeholder="add a description">
      <input type="text" name="ppn" placeholder="price per night">
      <input type="date" name="start_date">
      <input type="date" name="end_date">
      <button type="sumbit" name="button">Add your space</button>
    </form>
  </body>
</html>
