<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Poppins:400,400i&display=swap');
    </style>

    <link rel="stylesheet" href="styling/style.css" type="text/css">
    <meta charset="utf-8">
    <title>Makers BnB</title>

  </head>
  <body>
    <div class="container" >

      <header>
        <form action="/login" method="get">
          <button class="btn Login" type="submit" >Login</button>
        </form>

      </header>
    <h1> MakersBnB, your Home away from Home! </h1>
      <form id="my_form" style="background-color: transparent;" action="/users/new" method="post">
        <input type="text" id="username" name="username" placeholder="username"><br><br>
        <input type="email" name="email" placeholder="email"><br><br>
        <input type="password" name="password" placeholder="password"><br>
        <button class="btn SignUp" type="submit" name="sign up" >SignUp</button>
      </form>


    <div class="flash-notice">
       <%= flash[:notice] %>
    </div>

    </div>
  </body>

</html>
