<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Makers BnB</title>
    
  </head>
  <body>
    <h1> Welcome to MakersBnB, your Home away from Home! </h1>
    <form class="form-inline" action="/users/new" method="post">
      <input type="text" id="username" name="username" placeholder="username">
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <button type="submit" name="sign up">Sign Up</button>
    </form>

    <div class="flash-notice">
       <%= flash[:notice] %>
    </div>

    <div>
      <form action="/login" method="get">
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
