<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Profile</title>
  </head>
  <body>
  <header>
    <form class="" action="/user-options">
      <button type="submit" name="Home" style="background-color:DodgerBlue;"> Home </button>
    </form>
    <form action="/users/<%= session[:user_id] %>/session/destroy" method="post">
      <button type="submit" style="background-color:DodgerBlue;">Sign Out</button>
    </form>
    <form class="" action="/requests">
      <button type="submit" name="requests" style="background-color:DodgerBlue;">My Requests</button>
    </form>
  </header>

    <form class="form-inline" action="/spaces">
      <button type="submit" name="explore" style="background-color:DodgerBlue;">Explore spaces</button>
    </form>
    <form class="" action="/new-spaces">
      <button type="submit" name="host" style="background-color:DodgerBlue;">Host a space</button>
    </form>
  </body>
</html>
