<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="name"> <%= "#{@space.name}" %> </div> <br>
    <div class="description"> <%= "#{@space.description}" %> </div> <br>
    <div class="ppn"> <%= "Price per night only: £#{@space.ppn}" %> </div>
    Availability:
      <%@dates.each do |date| %>
        <div class="availability"> <%= "#{date.date_offered.strftime("%d %b")}" %> </div>
      <%end%>
    <a href="/spaces/request"%>Book this space </a>
    <br>
    <a href="/spaces"%>Go back</a>
  </body>
</html>
